<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>images/Sprite_Player_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,303}</string>
                <key>spriteSourceSize</key>
                <string>{331,303}</string>
                <key>textureRect</key>
                <string>{{1,351},{331,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>images/Sprite_Player_eft_eyebrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,25}</string>
                <key>spriteSourceSize</key>
                <string>{47,25}</string>
                <key>textureRect</key>
                <string>{{477,770},{47,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>images/Sprite_Player_eyes_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,85}</string>
                <key>spriteSourceSize</key>
                <string>{166,85}</string>
                <key>textureRect</key>
                <string>{{334,558},{166,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>images/Sprite_Player_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{370,348}</string>
                <key>spriteSourceSize</key>
                <string>{370,348}</string>
                <key>textureRect</key>
                <string>{{1,1},{370,348}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>images/Sprite_Player_left_apple_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,44}</string>
                <key>spriteSourceSize</key>
                <string>{27,44}</string>
                <key>textureRect</key>
                <string>{{334,351},{27,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>images/Sprite_Player_left_eyelash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,26}</string>
                <key>spriteSourceSize</key>
                <string>{46,26}</string>
                <key>textureRect</key>
                <string>{{477,722},{46,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>images/Sprite_Player_left_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,197}</string>
                <key>spriteSourceSize</key>
                <string>{118,197}</string>
                <key>textureRect</key>
                <string>{{373,217},{118,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>images/Sprite_Player_left_hand_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,214}</string>
                <key>spriteSourceSize</key>
                <string>{75,214}</string>
                <key>textureRect</key>
                <string>{{109,656},{75,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>images/Sprite_Player_left_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,141}</string>
                <key>spriteSourceSize</key>
                <string>{132,141}</string>
                <key>textureRect</key>
                <string>{{334,645},{132,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>images/Sprite_Player_left_leg_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,77}</string>
                <key>spriteSourceSize</key>
                <string>{92,77}</string>
                <key>textureRect</key>
                <string>{{183,733},{92,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>images/Sprite_Player_right_apple_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,46}</string>
                <key>spriteSourceSize</key>
                <string>{47,46}</string>
                <key>textureRect</key>
                <string>{{277,733},{47,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>images/Sprite_Player_right_eyebrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,23}</string>
                <key>spriteSourceSize</key>
                <string>{75,23}</string>
                <key>textureRect</key>
                <string>{{277,781},{75,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>images/Sprite_Player_right_eyelash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,26}</string>
                <key>spriteSourceSize</key>
                <string>{75,26}</string>
                <key>textureRect</key>
                <string>{{477,645},{75,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>images/Sprite_Player_right_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,169}</string>
                <key>spriteSourceSize</key>
                <string>{140,169}</string>
                <key>textureRect</key>
                <string>{{334,416},{140,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>images/Sprite_Player_right_hand_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,87}</string>
                <key>spriteSourceSize</key>
                <string>{122,87}</string>
                <key>textureRect</key>
                <string>{{373,128},{122,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>images/Sprite_Player_right_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,129}</string>
                <key>spriteSourceSize</key>
                <string>{125,129}</string>
                <key>textureRect</key>
                <string>{{373,1},{125,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>images/Sprite_Player_right_leg_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,72}</string>
                <key>spriteSourceSize</key>
                <string>{83,72}</string>
                <key>textureRect</key>
                <string>{{109,733},{83,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>images/Sprite_Player_shield.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{317,284}</string>
                <key>spriteSourceSize</key>
                <string>{317,284}</string>
                <key>textureRect</key>
                <string>{{180,819},{317,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>images/Sprite_Player_sword.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,286}</string>
                <key>spriteSourceSize</key>
                <string>{177,286}</string>
                <key>textureRect</key>
                <string>{{1,819},{177,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>images/Sprite_Player_textile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,98}</string>
                <key>spriteSourceSize</key>
                <string>{116,98}</string>
                <key>textureRect</key>
                <string>{{1,656},{116,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>images/Sprite_Player_textile_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,37}</string>
                <key>spriteSourceSize</key>
                <string>{106,37}</string>
                <key>textureRect</key>
                <string>{{1,779},{106,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>knight.png</string>
            <key>size</key>
            <string>{504,1106}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c3a5c704f8402f7ab32e7809baf06a9:767128a439eb2a95a963232b3bf02931:2f689271eec2c0f2098986227ad4fb90$</string>
            <key>textureFileName</key>
            <string>knight.png</string>
        </dict>
    </dict>
</plist>
