bin/
dependencies/
solutions/
build_temp/
docs/
*.sublime-project
*.sublime-workspace

examples/cocos2d-x/build/
examples/cocos2d-x/example/cocos2d/
examples/cocos2d-x/example/cocos2dx.zip
examples/cocos2d-x/example/Classes/movie/
examples/cocos2d-x/example/Classes/AEMovie/
examples/cocos2d-x/example/proj.ios_mac/LibMovieCocos.xcodeproj/project.xcworkspace
examples/cocos2d-x/example/proj.ios_mac/LibMovieCocos.xcodeproj/xcuserdata
examples/cocos2d-x/example/proj.win32/.vs
examples/cocos2d-x/example/proj.win32/Debug.win32
examples/cocos2d-x/example/proj.win32/Release.win32
examples/cocos2d-x/example/Resources/AEM
