bin/
dependencies/
solutions/
build_temp/
docs/
*.sublime-project
*.sublime-workspace

frameworks/cocos2d-x/build/
frameworks/cocos2d-x/example/cocos2d/
frameworks/cocos2d-x/example/cocos2dx.zip
frameworks/cocos2d-x/example/Classes/movie/
frameworks/cocos2d-x/example/Classes/AEMovie/
frameworks/cocos2d-x/example/proj.ios_mac/LibMovieCocos.xcodeproj/project.xcworkspace
frameworks/cocos2d-x/example/proj.ios_mac/LibMovieCocos.xcodeproj/xcuserdata
frameworks/cocos2d-x/example/proj.win32/.vs
frameworks/cocos2d-x/example/proj.win32/Debug.win32
frameworks/cocos2d-x/example/proj.win32/Release.win32
frameworks/cocos2d-x/example/Resources/AEM
