dist: trusty
sudo: required 

language: c

os:
    - linux
    - osx

compiler:
    - gcc
    - clang
    
before_install:
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get install xorg-dev libglu1-mesa-dev; fi
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get install xorg-dev libglu1-mesa-dev; fi
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get install build-essential libgtk-3-dev; fi


env:
    - TARGET_CPU=amd64 BUILD_CONFIGURATION=Debug BUILD_COVERAGE=FALSE
    - TARGET_CPU=amd64 BUILD_CONFIGURATION=Release BUILD_COVERAGE=FALSE
    - TARGET_CPU=x86 BUILD_CONFIGURATION=Debug BUILD_COVERAGE=FALSE
    - TARGET_CPU=x86 BUILD_CONFIGURATION=Release BUILD_COVERAGE=FALSE
    - TARGET_CPU=x86 BUILD_CONFIGURATION=Debug BUILD_COVERAGE=TRUE

matrix:
    exclude:
        - os: osx
          compiler: gcc

        - os: osx
          env: TARGET_CPU=x86 BUILD_CONFIGURATION=Debug BUILD_COVERAGE=FALSE

        - os: osx
          env: TARGET_CPU=x86 BUILD_CONFIGURATION=Release BUILD_COVERAGE=FALSE
        
        - os: osx        
          env: TARGET_CPU=x86 BUILD_CONFIGURATION=Debug BUILD_COVERAGE=TRUE
          
        - compiler: clang
          env: TARGET_CPU=x86 BUILD_CONFIGURATION=Debug BUILD_COVERAGE=TRUE
          
addons:
    apt:
        packages:
            - lcov
    sonarcloud:
        organization: "irov-github"
        
script:
    # libmovie
    - mkdir build_cmake
    - pushd build_cmake
    - cmake .. -DCMAKE_BUILD_TYPE=$BUILD_CONFIGURATION -DTARGET_CPU=$TARGET_CPU -DLIBMOVIE_EXAMPLES_BUILD:BOOL=TRUE -DLIBMOVIE_TEST:BOOL=TRUE -DLIBMOVIE_COVERAGE:BOOL=$BUILD_COVERAGE
    - cmake --build .
    - ctest --output-on-failure
    - popd
    
    # moview
    - pushd tools/moview
    - mkdir build_cmake
    - pushd build_cmake
    - cmake .. -DCMAKE_BUILD_TYPE=$BUILD_CONFIGURATION -DTARGET_CPU=$TARGET_CPU
    - cmake --build .
    - ctest --output-on-failure
    - popd
    - popd

    - mkdir sonar_build
    - sonar-scanner
    
    
cache:
    directories:
    - '$HOME/.sonar/cache'
    
after_success:
    - pushd ${TRAVIS_BUILD_DIR}
    - lcov --directory . --capture --output-file coverage.info # capture coverage info
    - lcov --list coverage.info #debug info  
    - bash <(curl -s https://codecov.io/bash)
    - popd
  
