<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>images/mane.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,86}</string>
                <key>spriteSourceSize</key>
                <string>{57,86}</string>
                <key>textureRect</key>
                <string>{{395,97},{57,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>images/rainbow_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,228}</string>
                <key>spriteSourceSize</key>
                <string>{228,228}</string>
                <key>textureRect</key>
                <string>{{1,1},{228,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>images/tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,94}</string>
                <key>spriteSourceSize</key>
                <string>{75,94}</string>
                <key>textureRect</key>
                <string>{{395,1},{75,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>images/unicorn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,197}</string>
                <key>spriteSourceSize</key>
                <string>{162,197}</string>
                <key>textureRect</key>
                <string>{{231,1},{162,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{471,230}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12e4a0b9d702201537f5b06668369599:6cb59328b474b00887134568e21c7da1:e489eb72a1dac3e9a97caaf8aad1ac42$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
